/* BreakPoints 
@media (max-width: 575.98px) { ... }
@media (max-width: 767.98px) { ... }
@media (max-width: 1199.98px) { ... }

@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }
*/

@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), local('Avenir'), url('../font/avenir/regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  font-weight: 800;
  src: local('Avenir Bold'), local('Avenir Bold'), url('../font/avenir/bold.woff') format('woff');
  font-display: swap;
}

@import "components/normalize";
@import "components/variables";
@import "components/paddings";
@import "components/font";
@import "components/button";
@import "components/footer";
@import "components/bootstrap";
@import "components/gallery";
@import "components/header";
@import "components/aos";
@import "components/form";

html,
body {
  scroll-behavior: smooth;
  font-size: 1rem;
  /* overflow-x: hidden; */
  list-style-position: inside;
  font-family: $font;
  margin: 0;
  padding: 0;
}

// Sección 1
#S1 {
  background: url(../img/banner.jpg) no-repeat center / cover;
  height: 40rem;
}

// Sección 2
#S2 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 5rem 3rem;

  h1 {
    color: $blue;
  }

  @media (max-width: 991.98px) { 
    grid-template-columns: 1fr;
    grid-template-areas: "img" "text-1" "text-2";
    .S2__text--1{
      grid-area: text-1;
    }
    .S2__text--2{
      grid-area: text-2;
    }
    .S2__img{
      grid-area: img;
    }
  }
}

// Sección 3

#S3 {
  display: flex;
  justify-content: center;
}